*{
    padding: 0%;
    font-family: 'Times New Roman', 'Times, serif';   
}
.form1{
    text-align: center;
    width: 400px;
    height:520PX;
    margin-bottom: 20px;
    background: transparent;
    border-radius: 30px;
    box-shadow: 5px 5px 10px;
    background-color: rgb(168, 184, 216);
    
}   
.form1 h3{
    margin-top: 25px;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(17, 1, 1);
    padding-top: 30px;
}
.form1 input{
    outline: none;
    border-radius: 30px;
    border: 2px solid black;
    width: 200px;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    margin-right: 20px;
    transition: all .4s;
}

.form1 label{
    margin-top: 25px;
    font-weight: 6px;
    color: rgb(17, 1, 1);
    padding-top: 30px;
 
}
.option{
    width: 200px;
    height: 40px;
}

.form1 button{
    cursor: pointer;
    width: 300px;
    height: 40px;
    margin-top: 25px;
    background-color: blue;
    color: aliceblue;
    font-size: 16px;   
    border-radius: 6px;
    border: none;
    outline: none;
    transition: .4s;
}
.form1 button:hover{
    background-color: blueviolet;
}





