.contactpg{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    background: rgb(82, 143, 214);
    color: antiquewhite;
    font-size: 1rem;
    display: flex;
    box-sizing: border-box;
    padding: 15px 50px 180px 15px;
    width: auto;   
    
}
.contact{   
    width: 75%;
    height: 200px;  
    padding: 40px;     
}

.map{
    width: 25%;      
}

.user{
    input[type = text],  input[type = tel]{
        width: 28%;
        padding: 12px 20px;
        margin: 8px 0;
        border: none;
        box-sizing: border-box;
        /* background-color: rgb(82, 143, 214); 
        color: white; */
        font-size: large;  
        font-weight: bold;
        justify-content: space-evenly;
    }
}
.uname, .cphone, .email, .companyname{
    padding: 5%;    
}

.services1, .services2{
    display: flex;
    flex-direction: column;
    width: 100%;
  
}

.services_check{
    margin: 0px 25px;
    display: flex ;
    justify-content: space-between;
    line-height: 1.8px;
}
.list-icon{
    display: flex;
    height: 6%;
    width: 20px;
    margin: 15px;
    list-style-type: none;
    justify-content: space-between;
}




.form-control{
    /* padding: 5px 0px; */
    border: none;
    width: 35%;
    height: 80px;
    color: rgb(44, 158, 202);
}




.uname, .cphone, .email, .companyname{
   
}


















/* .contactpg{
    background: rgb(82, 143, 214);
    color: antiquewhite;
    font-size: 1rem;
    display: flex;
    padding: 25px 50px 75px 100px;
   
    
}
.contact{
    padding: 15px;
    
}

.user{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 32px 0px 64px;
    padding:  0px 15px;
    width: 30%;
    margin: 15px;
    /* 
    text-transform: inherit;  */
    /* padding: 3%;
    margin: 3%;
    border: 3%; }*/

/* .row1 {
     margin: 0px -15px;
    padding:  5px 0px;
    box-sizing: border-box;
    border-bottom-color: rgba(252, 250, 250, 0.42);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: inherit;
    text-transform: inherit; 
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    height: 56px;
 how to split 2 divs 1st div size 75px 2nd div size 25px using css
} */

 
/* :hover{
    border-bottom-color: rgba(250, 244, 244, 0.87);
    background: #ececec;
} */


/* .services_check{
    margin: 0px 25px;
    padding: 0px 0px 15px;
    display: flex ;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: space-between;
    font-size: medium;

}
.list-icon{
    display: flex;
    width: 15px;
    padding: 2%;
    margin: 0px 0px 5px;
    list-style-type: none;
}
.form-control{
    padding: 5px 0px;
    border: none;
    width: 75%;
    color: rgb(44, 158, 202);
}

.services1, .services2{
        display: flex;
        flex-direction: column;
        width: 100%;
}


.uname, .cphone, .email, .companyname{
   
}
.map{
    padding-left: 48%;
    padding-right: 20px;
    font-size: large;
} */ 